@import "tailwindcss";
html {
  scroll-padding-top: 80px;
}
:root {
  --color-primary: #7d50a0;
  --color-heading: oklch(21% 0.006 285.885);
  --color-body: #605566;
  --color-secondary: #f56e41;

  --background: #ffffff;
  --foreground: #171717;

  --font-heading: "Geologica", sans-serif;
  --font-body: "Geologica", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-heading: var(--color-heading);
  --color-body: var(--color-body);
  --color-secondary: var(--color-secondary);

  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
  --font-mono: "SFMono-Regular", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--color-body);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-heading);
}

img {
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

* {
  box-sizing: border-box;
}

/* Animation */
.reveal {
  opacity: 0;
  transition:
    opacity 700ms ease,
    transform 700ms ease;
}

.reveal-left {
  transform: translateX(-50px);
}

.reveal-right {
  transform: translateX(50px);
}

.reveal-bottom {
  transform: translateY(50px);
}

.reveal.is-visible {
  opacity: 1;
  transform: translate(0);
}

@media (prefers-reduced-motion: reduce) {
  .reveal {
    opacity: 1;
    transform: none;
    transition: none;
  }
}
